@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.main-container{
    min-height: 100vh;
    background-color: #F9F9F9;
    max-width: 100%;
    overflow-x: hidden;
}

.header{
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
}

.header img{
    max-width: 8rem;
    padding-right: 1rem;
}

.header h1{
    padding: 0rem 1rem 1rem 1rem;
    color: #0067dd;
    margin: 0.5rem;
}